/* MarkdownStyles.css */

.markdown-body {
    font-family: "sans-serif";
    line-height: '16px';
    word-wrap: break-word;
    padding: '0px';
    font-size: 14px;
    font-family: "Söhne";
  }

  .markdown-body pre {
    background-color: #000; /* Black background for code blocks */
    color: #f8f8f2;
    padding: 8px;
    margin: 4px 0px;
    overflow: auto;
    border-radius: 4px;
    font-family: "ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace";
  }

  .markdown-body code {
    color: #f8f8f2;
    line-height: 1;
    font-size: 85%;
  }

  .markdown-body a {
    color: #0366d6;
    text-decoration: none;
  }

  .markdown-body a:hover {
    text-decoration: underline;
  }

  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
  }

  .markdown-body table th,
  .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  /* ... add more styles to closely match GitHub’s styling ... */
