
.sidebar-accord-details {
    display: 'flex';
    flex-direction: 'column';
    padding: 0px;
    margin: 0px;
}

.sidebar-accord {
    margin: 0px;
    padding: 0px 8px;
    margin-bottom: 4px;

}

.sidebar-accord-summary {
    margin: 0px;
    padding: 0px;
}