body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(145, 145, 145);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  border: 1px solid black;
}

nav {
  background-color: rgb(175, 175, 175)
}

.chat-h-name, .chat-h-name > a {
  color: greenyellow;
}

#create-chat-form {
  background-color: rgb(59, 132, 108);
}

#top-nav {
  background-color: rgba(172, 255, 47, 0.116);
}

#top-nav > * {
  margin: 4px;
  display: inline-block
}

#top-user-login-wrap {
  float: right;
  min-height: 100%;
}




.message-wrapper > *, .message-wrapper > * > * {
  border: unset;
}

.inner-msg-left {
  font-weight: bold;
}

.message-wrapper > div > div {
  display: inline-block
}

#create-msg-form-wrap {
  border: 0px;
  padding: 16px;
}

#create-msg-form-wrap,
#create-msg-form-wrap > *,
#create-msg-form-wrap > * > *,
#nav-back-wrap,
#nav-back-wrap > *,
#nav-top-back-btn {
  border: 0px;
}

#nav-top-back-btn {
  font-weight: bold;
  margin: 4px;
}

#nav-top-back-btn:hover {
  cursor: pointer;
  background-color: lightgray;
  font-weight: bolder;
}

.add-msg-content-wrap > * {
  display: block;
}